/*

CSS Style Sheet
-= Order =-
1)  General
2)  Home Page
3)  Additional Page
4)  About Page
5)  Footer

*/

/* Menu */
.menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
.menu a {
    float: left;
    color: black;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.menu a.logo {
    font-weight: bold;
}
.menu .main_sections {
    list-style-type: none;
    float: right;
}
.menu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.menu li {
    display: block;
    float: left;
}