/*

CSS Style Sheet
-= Order =-
1)  General
2)  Home Page
3)  Additional Page
4)  About Page
5)  Footer

*/

/* Menu */
.menu {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.menu a.logo {
    font-size: 40px;
    font-weight: bold;
}