/*

CSS Style Sheet
-= Order =-
1)  General
2)  Home Page
3)  Additional Page
4)  About Page
5)  Footer

*/

/* General */

/* Classes */

.pageBanner li {
    list-style-type: none;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
    float: left;
}

.pageBanner li a {
    display: block;
    color: rgba(13, 53, 228);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.page_title_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid;
    background-color: lightgray;
}