/* Menu */
.menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #1b262c;
    padding: 20px 10px;
}
.menu a {
    float: left;
    color: ghostwhite;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.menu a.logo {
    font-weight: bold;
}
.menu .main_sections {
    list-style-type: none;
    float: right;
}
.menu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.menu li {
    display: block;
    float: left;
    padding: 0px;
}
.menu li a:hover {
    background-color: #0f4c75;
}
