/* Main Menu */
.menu {
    list-style-type: none;
    overflow: hidden;
    padding: 5px 0;
}
.menu a {
    float: left;
    color: ghostwhite;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.menu a.logo {
    font-weight: bold;
}
.menu .main_sections {
    list-style-type: none;
    float: right;
}
.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    display: block;
    float: left;
    padding: 0;
}
.menu li a:hover {
    background-color: #0f4c75;
}
.menu li a:active {
    background-color: #777777;
    color: ghostwhite;
}

/* Side Navigation */
.nav_bar_hamburger {
    font-size:35px;
    cursor: pointer;
}

.side_nav_bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side_nav_bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side_nav_bar a:hover {
    color: #f1f1f1;
}

.side_nav_bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .side_nav_bar {padding-top: 15px;}
    .side_nav_bar a {font-size: 18px;}
}