body {
    background-color: #1b262c;
}

.horizontal_rule {
    border-top: 2px solid #0f4c75;
    width: 100%;
}

body {
    top: auto;
    font-family: sans-serif;
}

.main_Body {
    clear: both;
    margin: 5px 10%;
}

p {
    color: #3282b8;
}