/* Main Menu */
.menu {
    list-style-type: none;
    overflow: hidden;
    padding: 5px 0;
}
.menu a {
    float: left;
    color: ghostwhite;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.menu a.logo {
    font-weight: bold;
}
.menu .main_sections {
    list-style-type: none;
    float: right;
}
.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    display: block;
    float: left;
    padding: 0;
}
.menu li a:hover {
    background-color: #0f4c75;
}
.menu li a:active {
    background-color: #777777;
    color: ghostwhite;
}

/* Side Navigation */
.side_nav_bar {
    height: 100%;
    width: 20%;
    position: fixed;
    top: auto;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1.5s;
    padding-top: 20px;
}
.side_nav_bar a {
    padding: 10px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .8s;
}

.side_nav_bar a:hover {
    color: ghostwhite;
}

