body {
    background-color: #1b262c;
    top: auto;
    font-family: sans-serif;
}

header {
    position: sticky;
}

.horizontal_rule_top {
    border-top: 2px solid #0f4c75;
    width: 100%;
}

.main_Body {
    clear: both;
    margin: 5px 10%;
}

.main_Body .logos img {
    width: 100px;
    padding: 20px;
}

.main_Body .update img {
    max-width: 800px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.pageBody code {
    color: red !important;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: ghostwhite;
}

h2 {
    color: #3282b8;
    padding-top: 50px;
}
p {
    color: #bbe1fa;
    text-align: justify;
}

p li {
    list-style-type: none;
    text-align: center;
}
